<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-for遍历数组</title>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="item in names">{{item}}</li>
    </ul>

    <ul>
      <li v-for="(item,index) in names">{{index + 1}}-{{item}}</li>
    </ul>
  </div>

  <script src="../../js/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        names: ['Chz','Gxx','Chz','Gxx']
      },
      methods: {}
    });
  </script>
</body>

</html>